<center><h1>Add a Server</h1></center>
<div class="row">
  <div class="seven columns">
<% if user_signed_in? %>   
 <%= render 'form' %>
<% else %>
<h1>Please Sign In or Register to Add Servers</h1>
<% end %>  
</div>
  <div class="five columns">
    <h1>Guidelines</h1>
    <p>There is no voting part, just yet. There are no flashy graphics or over-crowded layouts. Don't USE ALL CAPS.</p>
    <ul>
    <li>No spamming your server</li>
    <li>Every server is instantly published, but is reviewed by a moderator later on.</li>
<li>No banner images, nor any HTML</li>
<li>No "official" servers</li>
<li>No excessive profanity</li>    
</ul> 
</div>
</div>

<%= link_to 'Back', servers_path %>
